@model SistemaTesis.Models.FormularioAmenaza

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormularioAmenaza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogoAmenaza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogoAmenaza.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Formulario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Formulario.CuidoIndicadores)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormularioAmenazaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
